/*Camila Alexandra Carrillo Monreal*/
.index {background-color: rgb(152, 92, 195);}
.pag01 {background-color: rgb(251, 151, 220);}
.pag02 {background-color: rgb(114, 217, 255);}
.pag03 {background-color: rgb(244, 203, 112);}
.pag04 {background-color: rgb(243, 255, 155);}